
.container_add{
    width:auto; 
    min-height: 100vh;
    object-fit: cover;
}
.form_add_block {
    margin: 0 auto;
    width: 650px;
    height: 700px;
    background-color: #fff;
    border-radius: 10%;
}

.form_add_block_head_text{
    font-size: 24px;
    font-weight: 700;
    padding-top: 50px;
    text-align:center;
}


.name_product_input{
    display: block;
    margin: 0 25px;
    width: 80%;
    height: 45px;
    border-radius: 10px;
    background-color: #fff;
    border-color: #151515;
    border-width: 3px;
    text-align: center;
}



.cost_product_input{
    width: 15%;
    height: 35px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #fff;
    border-color: #151515;
    border-width: 3px;
    text-align: center;
}

.count_product_input{
    width: 15%;
    margin-left: 10px;
    margin-right: 10px;
    height: 35px;
    border-radius: 10px;
    background-color: #fff;
    border-color: #151515;
    border-width: 3px;
    text-align: center;
}

.type_product_input{
    display: block;
    margin: 0 25px;
    width: 80%;
    height: 45px;
    border-radius: 10px;
    background-color: #fff;
    border-color: #151515;
    border-width: 3px;
    text-align: center;
}

.img_product_input{
    display: block;
    margin: 0 25px;
    width: 80%;
    height: 45px;
    background-color: #fff;
    border-color: #151515;
    border-width: 3px;
    text-align: center;
}

.password_input{
    display: block;
    margin: 0 25px;
    width: 80%;
    height: 45px;
    border-radius: 10px;
    background-color: #fff;
    border-color: #151515;
    border-width: 3px;
    text-align: center;
}

.form_add_button{
    background-color: #151515;
    margin: 0 auto;
    color: #fff;
    padding: 23;
    max-width: 200px;
    width: 800%;
    display: inline-block;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
}

.form_exit_button{
    background-color: #151515;
    margin: 0 auto;
    color: #fff;
    padding: 23;
    max-width: 200px;
    width: 800%;
    display: inline-block;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
}

h2{
    color: #151515;
    font-size: 12px;
    margin: 15px 25px;
}

.number_input_add{
    display: flex;
    margin: 25px 0;
}
textarea{
    height: 150px;
}

.description_product_input{
    display: block;
    margin: 0 25px;
    width: 80%;
    border-radius: 10px;
    background-color: #fff;
    border-color: #151515;
    border-width: 3px;
}

.form_button{
    display: flex;
    align-content: center;
    margin: 10px auto;
}